*{
    margin:0;
    color: #121729;
    font-family: 'Barlow', sans-serif;
}

html{
    background-color: #e6e6ed;
}

#wrapper{
    display: grid;
    width: 100vw;
    min-height:  100vh;

    grid-template-rows: 200px 1fr; /* adds vertical space to each cell */
    grid-template-columns: 200px 1fr; 
     
    grid-template-areas: "headerImg header"
    "main main";
}

header{
    grid-area: header;
    background-color: #0c7289;
    /* display: flex;
    align-items: center; */
    padding-left: 1.5em;
}

#headerImg{
    grid-area: headerImg;
}

h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}

h1{ 
    font-size: 4em;
}

h2{
    font-Size: 1.5em;
}

h3{
    font-size: 1.5em;
    padding-bottom: .5em;
}

h4{
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    padding-bottom: .5em;
}

ul{
    /*padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em; */
    list-style-type: square; 
}

a{
    text-decoration: underline;
    /*text-decoration-color: #d3cced;*/
}

a:hover{
    text-decoration: underline solid #d3cced;
    color: #d3cced;
}

aside{
    background-color: #d3cced;
    float: left;
    padding: 1em;
    margin-top: 12em;
    width: 10em;  
}

#asideImg{
    margin-bottom: 1em;
}

main{
    grid-area: main;
    /* padding-top: 14em;
    margin-left: 16em; */
    max-width: 85vw;
    margin-bottom: 6em;
    
}

#content{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    max-width: 95vw; 
    margin: .5rem auto;
    justify-content:space-around;
}

p{
    padding-bottom: 1em;
}

#bodyLink:hover{
    color: #0c7289;
    text-decoration: underline solid #0c7289;
}

.project{
    background-color: #d3cced;
    text-align: center;
    width: 200px;
}

.project:hover{
    background-color: #0c7289;
    /*padding: 2px;*/
    transform: scale(1.1);
}

@media screen and (max-width: 820px){

    #wrapper{
        width: 100vw;
        grid-template-rows: auto;
        grid-template-columns: auto; 

        grid-template-areas: "header" "main";
    }

    #headerImg{
        display: none;
    }
    
}