*{
    margin:0;
    color: #121729;
    font-family: 'Open Sans', sans-serif;
}

html{
    background-color: #e6e6ed;
}

header{
    background-color: #0c7289;
    /* header stays at top of page */
    float: top;
    height: 12em;
    position: fixed;
    width: 100%;
    
}

/* image stays to left*/
#headerImg{
    max-height: 100%;
    float: left;
    margin:0;
    vertical-align: middle;
}

h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}

h1{ 
    font-size: 4em;
    padding-left: 4em;
}

h2{
    font-Size: 2em;
    padding-left: 8em;
}

aside{
    background-color: #d3cced;
    float: left;
    padding: 1em;
    margin-top: 12em;
    width: 10em;  
}

h3{
    font-size: 1.5em;
    padding-bottom: .5em;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-bottom: .5em;
}

ul{
    /*padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em; */
    list-style-type: square; 
}

a{
    text-decoration: underline;
    /*text-decoration-color: #d3cced;*/
}

a:hover{
    text-decoration: underline solid #d3cced;
    color: #d3cced;
}

main{
    padding-top: 14em;
    margin-left: 16em;
    max-width: 52em;
    margin-bottom: 6em;
}

p{
    padding-bottom: 1em;
}

#asideImg{
    margin-bottom: 1em;
}

#bodyLink:hover{
    color: #0c7289;
    text-decoration: underline solid #0c7289;
}

#content{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    max-width: 95vw; 
    margin: .5rem auto;
    justify-content:space-around;
}

#project{
    background-color: #d3cced;
    text-align: center;
    width: 200px;
}

#project:hover{
    background-color: #0c7289;
    /*padding: 2px;*/
    transform: scale(1.2);
}

@media screen and (max-width: 36rem){
    header{
        float: none;
        position: static;
        background-color: red;
    }

    main{
        flex-direction: column;
        width: 100vw;
    }
    #wrapper{
        max-width: none;
    }
    nav, aside, article{
        order:0;
        flex: 1;
        margin: .5rem 0;
    }
}